// Snippet: Newsletter
.newsletter {
  .newsletter-form {
    .field__input {
      background-color: transparent;

      &:focus-visible {
        border: none;
        outline: none;
      }

      &::placeholder {
        color: #000;
        font-size: 16px;
      }
    }

    &.error {
      border: 1px solid #D01C1F;
    }
  }
}



