{%- comment -%}
Section: Template 404
Description: This section displays a 404 page.
{%- endcomment -%}

<div class="template-404 fixed left-0 top-0 flex flex-col justify-between w-full h-full py-10 lg:py-20 overflow-hidden text-black">

  <div class="text-100 lg:text-310 font-ivar">
    {%-
      render 'marquee'
      text: section.settings.title
    -%}
  </div>

  <div>
    <a
      href="{{ routes.root_url }}"
      aria-label="{{ section.settings.button_label | escape }}"
      class="link link--line text-16 pb-1">
      {{ section.settings.button_label }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "class": "flex items-center justify-center text-center py-11 h-screen",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "404 Heading Title",
      "default": " (Page not found) 404&nbsp"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Go Back"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}
