.klaviyo-form--running-group {
  .klaviyo-form {
    padding-bottom: 0 !important;
  }
  label,
  input {
    font-family: 'ProximaNova', sans-serif !important;
    font-weight: 400 !important;
  }
  button {
    height: 45px !important;
    background: #111010 !important;
    color: #f8f6f4 !important;
    transition: color 0.4s, background 0.4s;
    border: 1px solid #111010;
    border-style: solid !important;
    border-width: 1px !important;
    &:hover {
      background: #f8f6f4 !important;
      color: #111010 !important;
    }
  }
}

.klaviyo-form--newsletter {
  input {
    font-family: 'ProximaNova', sans-serif !important;
    font-weight: 400 !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  input[data-autocompleted] {
    background-color: transparent !important;
  }

  button {
    color: #111010 !important;
    transition: color 0.4s;
    &:hover {
      color: #6d4145 !important;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f7f5f3 inset !important;
}
