body {
  margin: 0;
  padding: 0;
  background-color: #f7f5f3;
}

// SWUP transitions
// @TODO remove
html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.transition-fill {
  transition: 0.3s fill;
}

html:not(.is-mobile) {
  #MainContent {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    top: 0;
  }
}

:focus {
  outline: none;
}

img,
video {
  width: 100%;
}

.logo-nav {
  svg {
    width: auto;
    height: 32px;

    @media (min-width: 1024px) {
      height: 36px;
    }
  }
}

.logo {
  &--dark {
    path {
      fill: #111010;
    }
  }

  &--white {
    path {
      fill: #d6d3ce;
    }
  }

  &--dark-gray {
    path {
      fill: #28282A;
    }
  }

  &--white-color {
    path {
      fill: #fff;
    }
  }

}

[data-animate] {
  opacity: 0.00001;
  will-change: opacity, transform;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.checkmark {
  $borderWidth: 3px;
  $borderColor: currentColor;

  display: inline-block;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;

  border-bottom: $borderWidth solid $borderColor;
  border-right: $borderWidth solid $borderColor;
}

.page {
  .shopify-challenge__container {
    margin: 7rem auto;
  }
}