html {
  font-family: 'ProximaNova';
  font-size: 3.04vw;

  @media only screen and (min-width: 526px) {
    font-size: 1.562vw;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 0.8333vw;
  }
}