// Section: Text and Image
.text-and-image {
  .text-and-image__headline {
    a {
      position: relative;
      display: inline-block;
      font-size: 1rem;
      font-family: ProximaNova;
    }
  }

  .text-and-image__info-box {
    p {
      margin-bottom: 1rem;
      font-weight: 500;

      &:last-child {
        margin-bottom: 0;
      }

      @media only screen and (min-width: 768px) {
        margin-bottom: 2rem;
      }
    }
  }
}
