{%- comment -%}
Snippet: Mini Cart Button
{%- endcomment -%}

<div
  x-data="miniCartButton({
    itemsCount: {{ cart.item_count }}
  })"
  @click="toggleCart"
  class="mini-cart-button flex items-center gap-1 cursor-pointer"
  @get-items-count.window='itemsCount = $event.detail'>

    <button
      type='button'
      aria-label="{{ 'cart.open_cart' | t }}"
      :class="{
        'text-gray': menuOpen,
        'text-black': !menuOpen
      }"
      class='h-auto w-[22px] ml-10 whitespace-nowrap'
      href='{{ routes.cart_url }}'>
      {%- render 'icon-shopping-bag' -%}
    </button>

  {%- comment -%}Number of Cart Items{%- endcomment -%}
  <p
    id='items-count'
    x-show="itemsCount > 0"
    x-text="'(' + itemsCount + ')'"
    class="text-font-base">({{ cart.item_count }})</p>
</div>
