{%- comment-%}
Snippet: Marquee
Description: A snippet that displays a marquee text.

Usage:
- {% render 'marquee', text: 'Text' %}

Accepts:
- Text: Text field that represents marquee text.
{%- endcomment -%}

<div
  x-data="marquee"
  class="marquee overflow-hidden relative flex">
  <div class="track w-auto flex">
    {% for num in (1..2) %}
      <span class="whitespace-nowrap leading-[1.1]">{{ text }}</span>
    {% endfor %}
  </div>
</div>
