{%- comment -%}
Snippet: Shipping Info
Description: Displays delivery information for a specific country
Accepts:
  - country_name: The name of the country
  - delivery_time: The estimated delivery time
  - shipping_cost: The cost of shipping

Usage:
  {% include 'shipping-info',
    country_name: 'United States',
    delivery_time: '3-5 business days',
    shipping_cost: '$5.00'
  %}
{%- endcomment -%}

<div class="shipping-info flex flex-row py-4 border-b border-gray text-16">
  <h4 class="w-[63%] sm:w-2/3 md:w-1/2 lg:w-1/3">{{ country_name }}</h4>
  <p class="w-[37%] sm:w-1/3 md:w-1/2 lg:w-1/3">{{ delivery_time }}</p>
  <p class="hidden lg:block lg:w-1/3">{{ shipping_cost }}</p>
</div>
