{% comment %}
	Section: Home Hero
	Description:
    This section is used to display the hero slider on the home page.

  Settings:

  Blocks:
    - Image
    - Video

{% endcomment %}
<div
	x-data='homeHero'
	class="home-hero relative w-full h-[70svh] md:h-[90vh] px-5 sm:px-10">
  <div  
    data-scroll
    data-scroll-call="inViewportAnimation"
    class="relative w-full h-full overflow-hidden"
  >
    {%- if section.blocks.size > 0 -%}
      {% render 'hero-slider', slides: section.blocks %}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
	"name": "Home Hero",
	"tag": "section",
	"settings": [],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"label": "Desktop Image",
					"id": "image"
				},
				{
					"type": "image_picker",
					"label": "Mobile Image",
					"id": "image_mobile"
				},
        {
          "type": "text",
          "label": "Headline",
          "id": "headline"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "url",
          "label": "Cta Link",
          "id": "cta"
        },
        {
          "type": "text",
          "label": "Cta Text",
          "id": "cta_text"
        }
			]
		},
		{
			"type": "video",
			"name": "Video",
			"settings": [
				{
					"type": "video",
					"id": "video",
					"label": "Desktop Video",
					"info": "Upload a video for desktop view"
				},
				{
					"type": "video",
					"id": "video_mobile",
					"label": "Mobile Video",
					"info": "Upload a video for mobile view. If not set, the desktop video will be used"
				},
        {
          "type": "text",
          "label": "Headline",
          "id": "headline"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "url",
          "label": "Cta Link",
          "id": "cta"
        },
        {
          "type": "text",
          "label": "Cta Text",
          "id": "cta_text"
        }
			]
		}
	],
	"presets": [
		{
			"name": "Home Hero Slider"
		}
	]
}
{% endschema %}
