{%- comment -%}
Section: Collection Template
Description: Renders a collection page with a grid of product variants, grouped by colors

metafield: collection.metafields.custom.hero

metaobject:
- collection_hero.title
- collection_hero.description
- collection_hero.image

{%- endcomment -%}


<div 
  x-data="productFilters({
    collectionHandle: '{{ collection.handle }}',
    sortBy: '{{ collection.default_sort_by }}'
  })"
  class="">

  <div
    x-data='templateCollection()'
    class='template-collection'>

    <template x-teleport="body">
      {% render 'filter-drawer' %}
    </template>

    {%- liquid
      # Assign the hero title, text, and image, defaulting to the collection title, description, and image
      assign hero = collection.metafields.custom.hero.value
      assign hero_title = hero.title | default: collection.title | default: section.settings.hero_title
      assign hero_description = hero.description | metafield_tag | default: collection.description |default: section.settings.hero_description
      assign hero_image = hero.image | default: section.settings.hero_image | default: collection.image
    -%}

    {%- comment -%}Image Hero{%- endcomment -%}
    {% render 'image-hero',
      title: hero_title,
      text: hero_description,
      image: hero_image
    %}

    <div class="px-5 sm:px-10">

      <div class="flex w-full py-8">
        <div class="collection-filters">
          <button
            type="button"
            aria-label="{{ 'product.filters.title' | t }}"
            @click="toggleFilters"
            class="flex justify-center items-center w-[191px] h-[45px] border border-gray hover:border-sonicSilver transition">
            {% render 'icon-filter' %}
          <span class="ml-4 text-16 font-medium uppercase">{{ 'product.filters.title' | t }}</span>
          </button>
        </div>
        {%- comment -%}Collection grid switcher{%- endcomment -%}
        <div class="grid-switcher ml-auto flex items-center">
          <button
            type="button"
            aria-label="Switch to grid one"
            @click="setGridOne()"
            :class="{
              'border-sonicSilver z-10': isActive('gridOne'),
              'border-gray': !isActive('gridOne')
            }"
            class="border flex items-center justify-center w-[45px] h-[45px] mr-[-1px] hover:border-sonicSilver transition">
            {% render 'icon-switcher-two-dots' %}
          </button>
          <button
            type="button"
            aria-label="Switch to grid two"
            @click="setGridTwo()"
            :class="{
              'border-sonicSilver': isActive('gridTwo'),
              'border-gray': !isActive('gridTwo'),
            }"
            class="border flex items-center justify-center w-[45px] h-[45px] hover:border-sonicSilver transition">
            {% render 'icon-switcher-four-dots' %}
          </button>
        </div>
      </div>

      {% comment %} PRODUCTS WRAPPER {% endcomment %}
      <div class="collection-wrapper">

        <div x-show='!initialised '>
          {% paginate collection.products by section.settings.number_of_products_per_page %}

            <div
              class="collection-page__grid grid grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-24"
              :class="{
                'collection-page__grid--one': !isActive('gridTwo'),
                'collection-page__grid--two': isActive('gridTwo')
              }">
              {% render 'product-variants', products: collection.products %}
            </div>

            <div class='mx-auto'>
              {% render 'pagination', pagination: paginate %}
            </div>

          {% endpaginate %}
        </div>

        <template x-if='initialised'>
          <div
            class="collection-page__grid grid grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-24"
            :class="{
              'collection-page__grid--one': !isActive('gridTwo'),
              'collection-page__grid--two': isActive('gridTwo')
            }">
            {% comment %} Loop trough all color variants {% endcomment %}
            <template x-for='(variants, productKey) in groupedVariants'>
                <template x-if='isCardVisible(variants)'>
                  {% render 'simple-product-variant-card' %}
                </template>
            </template>
          </div>
        </template>

      </div>
      {% comment %} END :: PRODUCTS WRAPPER {% endcomment %}

    </div>
  </div>

</div>


{% schema %}
{
  "name": "template-collection",
  "settings": [
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title"
    },
    {
      "type": "text",
      "id": "hero_description",
      "label": "Hero Description"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
    "type": "text",
    "id": "filter_title",
    "label": "Title for the filter drawer"
    },
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "label": "Number of products shown per page",
      "default": 16
    }
  ]
}
{% endschema %}
