{% comment %}
Section: Cards Slider
Description: Displays a slider of cards

Accepts:
- Title: Text field that will be used as the title
- Link Text: Text field that will be used as the link text
- Link: URL field that represents the link
- Text: Text field that will be used as the caption text
- Slide: Repeater block that contains an image and a caption

{% endcomment %}

<div class="cards-slider relative w-full py-14 sm:px-10 lg:px-0">
  {% 
    render 'slider',
    card_type: 'image_and_caption_card',
    title: section.settings.title,
    link: section.settings.link,
    link_text: section.settings.link_text,
    text: section.settings.text,
    slides: section.blocks,
    space_between_slides: 20,
    slider_navbar_class: 'px-5 sm:px-0 lg:px-10',
    slides_per_view_mob: 1.2,
    centered_slides: true,
    loop_on_mobile: true,
    loop_on_desk: true
  %}
</div>

{% schema %}
{
  "name": "Cards Slider",
  "tag": "section",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    {
      "type": "text",
      "label": "Link Text",
      "id": "link_text"
    },
    {
      "type": "url",
      "label": "Link",
      "id": "link"
    },
    {
      "type": "text",
      "label": "Text",
      "id": "text"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "url",
          "label": "Link",
          "id": "link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards Slider"
    }
  ]
}
{% endschema %}
