// Section: Home Hero
.big-image-with-caption {
  .bottom-text {
    .content__text__desktop {
      p:last-child {
        &:not(:has(> a)) {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -10%;
            background: #f9f6f4;
            width: 80%;
            height: 1px;

            @media only screen and (min-width: 1024px) {
              bottom: -30%;
            }
          }
        }
      }
    }

    a {
      font-family: 'ProximaNova';
      padding-bottom: 0.5rem;
      font-size: 16px;
      display: inline !important;
      transition: background-size 0.35s linear;
      background: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
      background-repeat: no-repeat;
      background-position: left 100%;
      background-size: 100% 1px;

      @media only screen and (min-width: 1024px) {
        &:hover {
          background-size: 0% 1px;
        }
      }
    }
  }

  // video:
  .video-wrapper {
    video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

}