{%- comment -%}
	Section: Padded Image With Caption
	Description: This section displays a padded image with a caption.

	Usage: Use this section to display a padded image with a caption.

	Accepts:
	- Image: Image picker field that represents hero image.
	- Text: Text field that represents hero headline.
{%- endcomment -%}
<div
	x-data='paddedImageWithCaption'
	class='padded-image-with-caption w-full h-full flex justify-center px-5 sm:px-0 my-14'>
	{%- comment -%} Content Wrapper {%- endcomment -%}
	<div class='w-full h-full sm:w-[47.4%]'>
		{%- comment -%} Image {%- endcomment -%}
    {%- if section.settings.image != blank -%}
      {%-
        render 'scale-down-image',
        image: section.settings.image
        originalRatio: false
        imgRatio: 0.733
      -%}
    {%- endif -%}

		{%- comment -%} Text {%- endcomment -%}
		{%- if section.settings.text != blank -%}
			<div class='text-20 lg:text-30 text-black font-ivar text-center mt-8 px-5 mb-20'>
				{{ section.settings.text | newline_to_br }}
			</div>
		{%- endif -%}
	</div>
</div>

{% schema %}
{
	"name": "Padded Image With Caption",
	"tag": "section",
	"settings": [
		{
			"type": "image_picker",
			"label": "Image",
			"id": "image"
		},
		{
			"type": "text",
			"label": "Text",
			"id": "text"
		}
	],
	"blocks": [],
	"presets": [
		{
			"name": "Padded Image With Caption"
		}
	]
}
{% endschema %}
