@use './../../assets/scss/tailwind.scss';

@use './../../assets/scss/global.scss';
@use './../../assets/scss/typography.scss';
@use './../../assets/scss/content.scss';
@use './../../assets/scss/link.scss';
@use './../../assets/scss/pages.scss';
@use './../../assets/scss/form.scss';

@import 'locomotive-scroll/locomotive-scroll.css';