{% liquid
  # Get right navigation object from the section settings
  if section.settings.menu.links == blank
    assign main_menu_linklist = linklists[section.settings.menu].links
  else
    assign main_menu_linklist = section.settings.menu.links
  endif

  # Get mobile navigation object from the section settings
  if section.settings.mobile_menu.links == blank
    assign mobile_menu_linklist = linklists[section.settings.mobile_menu].links
  else
    assign mobile_menu_linklist = section.settings.mobile_menu.links
  endif
%}

<header
  id="header"
  x-data="header"
  x-cloak
  class="fixed left-0 top-0 w-full z-50">
  {%- for block in section.blocks %}
    {%- case block.type -%}
      
      {%- comment -%} Announcement Bar {%- endcomment -%}
      {%- when 'anouncement_bar' -%}
        {%- comment -%}
          If show_on_homepage is checked and the current page is the homepage,
          render the announcement bar. Otherwise, render on all pages
        {%- endcomment -%}
        {% liquid
          assign display_on_all_pages = block.settings.display_on_all_pages | default: false
          assign show_announcement_bar = false

          # Display announcement bar on all pages if 'display_on_all_pages' is true
          if display_on_all_pages == true
            assign show_announcement_bar = true
          else
            # Otherwise, display only on the homepage
            if request.path == routes.root_url
              assign show_announcement_bar = true
            endif
          endif
        %}

        {%- if show_announcement_bar == true -%}
          {% render 'announcement-bar',
            display_on_all_pages: block.settings.display_on_all_pages,
            text_one: block.settings.text_one,
            text_two: block.settings.text_two
          %}
        {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}

  <nav class="header-navigaion">
    <div
      class="header-navigation__wrapper flex flex-row items-center h-[56px] md:h-[4.5rem] px-5 sm:px-10 py-3 xl:py-0 transition"
      :class="
        {
          'bg-white3 text-black ease-in duration-300 delay-75': !menuOpen,
          'bg-charcoal text-cloud ease-out duration-200': menuOpen,
        }
      ">
      {% comment %} Column: Left  {% endcomment %}
      <div class="header__left basis-full flex flex-row items-center">
        {%- comment -%} Mobile Menu Button {%- endcomment -%}
        {% render 'header-mobile-menu-button' %}
        {% comment %} Main Menu: (Mega Menu) {% endcomment %}
        {% render 'mega-menu', featured_nav_page: section.settings.featured_nav_page %}
      </div>

      {%- comment -%} Column: Center {%- endcomment -%}
      <div
        class="header__center flex flex-row items-center justify-center z-50"
        :class="
          {
            'text-white': menuOpen,
            'text-black': !menuOpen
          }
        ">
        {% comment %} App Logo {% endcomment %}
        {% render 'header-logo' %}
      </div>

      {% comment %} Column: Right {% endcomment %}
      <div class="header__right basis-full flex flex-row items-center justify-end">
        {% comment %} Navigation:  Right {% endcomment %}
        <div class="hidden xl:block">
          {% render 'header-navigation', menu: main_menu_linklist %}
        </div>

        {% comment %} Location {% endcomment %}
        <div class="hidden xl:block">
          {% render 'header-location' %}
        </div>

        {% comment %} Mini Cart Button {% endcomment %}
        {% render 'mini-cart-button' %}
      </div>
    </div>

    {%- comment -%} MOBILE MENU {%- endcomment -%}
    <div
      x-show="menuOpen"
      x-transition.opacity
      aria-label="{{ section.settings.mobile_menu_title | escape }}"
      class="mobile-menu-wrapper h-[calc(100vh-4rem)] w-full xl:hidden transition-colors duration-300 px-5 sm:px-10 py-14 bg-charcoal text-cloud overflow-y-auto">
      {% render 'mobile-menu',
        menu: mobile_menu_linklist,
        featured_nav_page: section.settings.featured_nav_page
      %}
    </div>
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Right Header Nav",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "label": "Mobile menu",
      "default": "main-menu"
    },
    {
      "type": "page",
      "id": "featured_nav_page",
      "label": "Featured Navigation Page"
    }
  ],
  "blocks": [
    {
      "type": "anouncement_bar",
      "name": "Announcement Bar",
      "settings": [
        {
          "type": "text",
          "id": "text_one",
          "label": "Announcement One"
        },
        {
          "type": "text",
          "id": "text_two",
          "label": "Announcement Two"
        },
        {
          "type": "checkbox",
          "id": "display_on_all_pages",
          "label": "Display on all pages",
          "info": "If checked, the announcement bar will be displayed on all pages. Default is to display only on the homepage."
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label",
          "placeholder": "Menu item label..."
        },
        {
          "type": "url",
          "label": "URL",
          "id": "url",
          "info": "Simple navigation item without dropdown menu."
        }
      ]
    },
    {
      "type": "shop_menu",
      "name": "Shop Menu",
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label",
          "default": "Shop",
          "placeholder": "Menu item label..."
        },
        {
          "type": "url",
          "label": "Shop URL",
          "id": "url",
          "info": "Link to the all products page"
        },
        {
          "type": "link_list",
          "label": "Menu",
          "id": "menu"
        },
        {
          "type": "product",
          "label": "Product 1 ",
          "id": "product_1"
        },
        {
          "type": "product",
          "label": "Product 2",
          "id": "product_2"
        },
        {
          "type": "product",
          "label": "Product 3",
          "id": "product_3"
        }
      ]
    },
    {
      "type": "collection_menu",
      "name": "Collection Menu",
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label",
          "placeholder": "Menu item label..."
        },
        {
          "type": "collection",
          "label": "Collection",
          "id": "collection"
        },
        {
          "type": "text",
          "label": "Headline",
          "id": "headline"
        },
        {
          "type": "text",
          "label": "CTA Text",
          "id": "cta_text",
          "default": "View All",
          "info": "Text for the CTA button to the collection page"
        },
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "text",
          "label": "CTA Text",
          "id": "cta_text_page",
          "info": "Text for the CTA button to the lookbook page"
        },
        {
          "type": "url",
          "label": "URL",
          "id": "page_url",
          "info": "Link to the lookbook"
        },
        {
          "type": "product",
          "label": "Product 1",
          "id": "product_1"
        },
        {
          "type": "text",
          "label": "Product 1 SKU",
          "id": "product_1_sku"
        },
        {
          "type": "product",
          "label": "Product 2",
          "id": "product_2"
        },
        {
          "type": "text",
          "label": "Product 2 SKU",
          "id": "product_2_sku"
        },
        {
          "type": "product",
          "label": "Product 3",
          "id": "product_3"
        },
        {
          "type": "text",
          "label": "Product 3 SKU",
          "id": "product_3_sku"
        }
      ]
    },
    {
      "type": "page_menu",
      "name": "Page Menu",
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label",
          "placeholder": "Menu item label..."
        },
        {
          "type": "text",
          "label": "Headline",
          "id": "headline"
        },
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "page",
          "label": "Page 1",
          "id": "page_1"
        },
        {
          "type": "article",
          "label": "Page 2",
          "id": "page_2"
        },
        {
          "type": "article",
          "label": "Page 3",
          "id": "page_3"
        }
      ]
    },
    {
      "type": "page_sections_menu",
      "name": "Page Sections Menu",
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label",
          "placeholder": "Menu item label..."
        },
        {
          "type": "text",
          "label": "Headline",
          "id": "headline"
        },
        {
          "type": "text",
          "label": "CTA Text",
          "id": "cta_text",
          "default": "View All",
          "info": "Text for the CTA to the page"
        },
        {
          "type": "url",
          "label": "URL",
          "id": "url",
          "info": "Select a page to link to"
        },
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "text",
          "label": "Section 1 Label",
          "id": "section_1_label"
        },
        {
          "type": "text",
          "label": "Section 1 ID",
          "id": "section_1_id",
          "info": "ID of the page section to scroll to"
        },
        {
          "type": "image_picker",
          "label": "Section 1 Image",
          "id": "section_1_image"
        },
        {
          "type": "text",
          "label": "Section 2 Label",
          "id": "section_2_label"
        },
        {
          "type": "text",
          "label": "Section 2 ID",
          "id": "section_2_id",
          "info": "ID of the page section to scroll to"
        },
        {
          "type": "image_picker",
          "label": "Section 2 Image",
          "id": "section_2_image"
        },
        {
          "type": "text",
          "label": "Section 3 Label",
          "id": "section_3_label"
        },
        {
          "type": "text",
          "label": "Section 3 ID",
          "id": "section_3_id",
          "info": "ID of the page section to scroll to"
        },
        {
          "type": "image_picker",
          "label": "Section 3 Image",
          "id": "section_3_image"
        }
      ]
    },
    {
      "type": "blog_menu",
      "name": "Blog Menu",
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label",
          "placeholder": "Menu item label..."
        },
        {
          "type": "blog",
          "label": "Blog",
          "id": "blog",
          "info": "Select a blog..."
        },
        {
          "type": "text",
          "label": "Headline",
          "id": "headline"
        },
        {
          "type": "text",
          "label": "CTA Text",
          "id": "cta_text",
          "default": "View All"
        },
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "article",
          "label": "Article 1",
          "id": "article_1"
        },
        {
          "type": "article",
          "label": "Article 2",
          "id": "article_2"
        },
        {
          "type": "article",
          "label": "Article 3",
          "id": "article_3"
        }
      ]
    }
  ]
}
{% endschema %}
