{% comment %} 
  Snippet: hero-slide-image.liquid
  Description:
    This snippet is used to display an image in the hero slider.

  Settings:
    - data (object): The block data
    - data.image (image): The desktop image
    - data.image_mobile (image, optional): The mobile image

  Usage:
    {% raw %}
      {% render 'hero-slide-image', data: block.settings %}
    {% endraw %}
  
  Dependencies:
    - parallax-picture.liquid
    - hero-slide-content.liquid

{% endcomment %}
{%- liquid
  
  # get desktop image
  assign desktop_image = data.image
  # try to get mobile image, default to desktop image
  assign mobile_image = data.image_mobile | default: desktop_image

-%}
<div class="hero-slide-image relative w-full h-full">
  
  {%-
    render 'parallax-picture',
    image: desktop_image,
    image_mobile: mobile_image,
  -%}

  {%- render 'hero-slide-content', data: data -%}

</div>