{% comment %}
Snippet: Product Variant Gallery
Description: Renders the product gallery based on the metafield value

Usage:
{% render 'product-slider-gallery' %}
{% endcomment %}
{%- liquid
  # metafield type: mixed reference
  # (contains one metaobject which contains a color name and list of metaobjects - gallery_items)
  #   - color: Shopify's Metaobject (type: shopify--color-pattern)
  #   - gallery_items: list of metaobjects
  #     - product_gallery_item_two_images
  #     - product_galery_item_text_and_image
  #     - product_gallery_item

  # how to access to different types of metaobjects?
  # see: https://shopify.dev/docs/api/liquid/objects/metafield

  # Step 1: Access the color_variant_gallery metafield
  assign color_variant_galleries = product.metafields.custom.color_variant_gallery.value

  # Initialize variables for color and size option index
  assign color_option_index = ''
  # Determine the indexes of the color and size options (e.g., option1, option2, etc.)
  for option in product.options_with_values
    case option.name
      when 'Color'
        assign color_option_index = option.position
    endcase
  endfor
  # Assign the color option
  assign color_option = 'option' | append: color_option_index
-%}

<div
  {% if data_animate_enabled %}data-animate data-preset='fade'{% endif %}
  x-data='productSliderGallery({
    selectedColor: "{{ product.variants.first[color_option] }}"
  })'
  @color-changed.window='selectedColor = $event.detail.colorName'
  class='product-slider-gallery {{ wrapper_class }}'>
  {%- comment -%} Step 2: Iterate over product variants galleries {%- endcomment -%}
  {%- for metaobject in color_variant_galleries -%}
    {% liquid
      assign product_images = metaobject.product_images.value
      assign color_name = metaobject.color.value.label | escape
      assign swiper_id = id | append: '-' | append: color_name | handleize
    %}

    {%- comment -%}Step 3: Check if there is a color name in metaobject {%- endcomment -%}
    {%- if color_name -%}
      {%- comment -%} Step 4: Display gallery for selected color if it matches color name {%- endcomment -%}
      <div x-show='selectedColor == "{{ color_name }}"' x-cloak class="h-full">
        {%- render 'pdp-swiper',
          slides: product_images,
          showControls: true,
          swiper_class: swiper_class,
          id: swiper_id
        -%}
      </div>

    {%- endif -%}
  {%- endfor -%}
</div>
