{% comment %}
Snippet: Announcement Bar
Description: Renders an announcement bar component.

Accepts:
- Display On All Pages: Checkbox field that determines if the announcement bar is visible on all pages
- Announcement One: Text field that will be used as the announcement text
- Announcement Two: Text field that will be used as the announcement text

Requirements:
1. Announcements rotate between two messages every 5 seconds.
2. bg-color: #28282A
3. text-color #C7C4BF
{% endcomment %}

{% liquid
  # Determine text
  assign text_one = text_one | default: ''
  assign text_two = text_two | default: ''
  assign display_on_all_pages = display_on_all_pages | default: false
%}

<div
  x-ref="announcementBar"
  x-data='announcementBar({
    textOne: "{{ text_one }}",
    textTwo: "{{ text_two }}",
    displayOnAllPages: {{ display_on_all_pages }}
  })'
  class="announcement-bar flex items-center justify-center h-[40px] md:h-[32px] w-full px-2 bg-[#28282A] text-[#C7C4BF]">
  <span
    x-ref="announcementText"
    class="announcement-text block text-[12px] lg:text-[13px] leading-6 tracking-wide"></span>
</div>
