{%- comment -%}
	Section: Full Bleed Images
	Description: Section to display 1 to 3 images to full width of a container.
	             The section has max of 3 blocks.
	Usage:
	- Use this section to display 1 to 3 images to full width of a container.
	- The section has no settings, only blocks.
	- The section has max of 3 blocks.

	Accepts:
	- Blocks:
	  - Image_Block:
	    - Image: image_picker field to select an image.
	    - Max_Blocks: 3

	@see Image Object: https://shopify.dev/docs/api/liquid/objects/image
{%- endcomment -%}
{%- liquid
	# Variables
	assign block_count = section.blocks.size

	# Check if the section has blocks
	assign has_blocks = false
	if block_count > 0
		assign has_blocks = true
	endif

	if section.settings.space_x_axis
		assign spaceX = 'px-5 sm:px-10'
  endif
-%}

<div
	x-data='fullBleedImagery'
	class='full-bleed-imagery w-full h-full'>
	{%- comment -%} Content (blocks) Wrapper {%- endcomment -%}
	{%- if has_blocks -%}
		<div class='flex flex-col lg:flex-row {{ spaceX }}'>
			{%- for block in section.blocks -%}
				{%- comment -%} Image Block {%- endcomment -%}
        {%-
          render 'parallax-image',
          image: block.settings.image
          originalRatio: true
        -%}

			{%- endfor -%}
		</div>
	{%- endif -%}
</div>

{% schema %}
{
	"name": "Full Bleed Imagery",
	"tag": "section",
	"settings": [
		{
			"type": "checkbox",
			"label": "Space x axis",
			"id": "space_x_axis"
		}
	],
	"blocks": [
		{
			"type": "image_block",
			"name": "Image Block",
			"settings": [
				{
					"type": "image_picker",
					"label": "Image",
					"id": "image"
				}
			]
		}
	],
	"max_blocks": 3,
	"presets": [
		{
			"name": "Full Bleed Imagery"
		}
	]
}
{% endschema %}
