{%- comment -%}
Snippet: Scale down Image
Description: Renders an image that scales down when it enters the viewport.

@param {Object} image - The image object.
@param {string} ratio - The aspect ratio of the image.
@param {boolean} originalRatio - Flag indicating whether to use the original aspect ratio of the image.
@param {string} className - Additional CSS class for the main element.
@param {string} innerClass - Additional CSS class for the inner image element.
{%- endcomment -%}

{% assign animationPreset = animation_preset | default: 'scaleDown' %}

{%- if image != blank -%}
  <div
    data-scroll
    data-scroll-call="inViewportAnimation"
    data-scroll-repeat
    class='scale-down-image overflow-hidden relative w-full {{ className }}'>

    <div class="inner">
      {%-
        render 'shopify-image',
        image: image
        imgRatio: imgRatio
        originalRatio: originalRatio
        className: innerClass
        animationPreset: animationPreset
      -%}
    </div>

  </div>
{%- endif -%}
