.slider-wrapper {
  .swiper-container {
    width: 100%;
    height: 100%;
    .scale-down-image,
    .product-availability-status,
    img {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }
}
