{%- comment -%}
	Snippet: Full Bleed Images
	Description: Section to display 1 to 3 images to full width of a container

Accepts:
- block
  - settings
    - image_1
    - image_2
    - image_3
Usage:
    {% render 'full-bleed-imagery', block: block %}
{%- endcomment -%}
{%- liquid
	assign image_count = 0
  if block.settings.image_1
    assign image_count = image_count | plus: 1
  endif
  if block.settings.image_2
    assign image_count = image_count | plus: 1
  endif
  if block.settings.image_3
    assign image_count = image_count | plus: 1
  endif

	# Set width class based on number of blocks
  assign has_images = false
  if image_count > 0
    assign has_images = true
  endif

  # Add width classes based on the number of blocks present
  if has_images
    case image_count
      when 1
				assign width_class = 'lg:w-full'
        assign img_ratio = 0.82
			when 2
				assign width_class = 'lg:w-1/2'
        assign img_ratio = 0.72
			when 3
				assign width_class = 'lg:w-1/3'
        assign img_ratio = 0.72
		endcase
  endif

-%}

<div
	x-data='fullBleedImagery'
	class='full-bleed-imagery w-full h-full'>
	{%- comment -%} Content (blocks) Wrapper {%- endcomment -%}
	{%- if has_images -%}
    <div class='full-bleed-imagery__image-wrapper flex flex-col lg:flex-row'>
        {%-
					render 'scale-down-image',
          className: width_class,
					image: block.settings.image_1,
					imgRatio: img_ratio
				-%}

        {%-
					render 'scale-down-image',
          className: width_class,
					image: block.settings.image_2,
					imgRatio: img_ratio
				-%}

        {%-
					render 'scale-down-image',
          className: width_class,
					image: block.settings.image_3,
					imgRatio: img_ratio
				-%}

    </div>
	{%- endif -%}
</div>
