{%- comment -%}
Section: Newsletter

{%- endcomment -%}


<div
  x-data="newsletter()"
  data-scroll
  data-scroll-repeat
  data-scroll-call="inViewportAnimation"
  class="newsletter relative w-full h-full py-20 lg:py-16 px-5 sm:px-10 bg-charcoal">
  {%- comment -%} Content Wrapper {%- endcomment -%}
  <div class="flex flex-col justify-center items-center w-full h-full px-5 sm:px-10 text-cloud">
    {%- comment -%} Text {%- endcomment -%}
    <div class='w-full lg:w-1/2 mb-14'>
      {%- if section.settings.text != blank -%}
        <div
          data-animate
          data-preset='fadeUp'
          class="text-16 text-center uppercase">
          {{ section.settings.text }}
        </div>
      {%- endif -%}
    </div>

    {%- comment -%} Klaviyo Embeded {%- endcomment -%}
    <div
      data-animate
      data-preset='fadeUp'
      data-to='{ "delay": 0.1 }'
      class='w-full sm:w-1/2 lg:w-1/3'>
      <div class="klaviyo-form-RG92YH klaviyo-form klaviyo-form--newsletter"></div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "class": "flex-1 w-full h-full",
  "settings": [
    {
      "type": "richtext",
      "label": "Text",
      "id": "text"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{% endschema %}
