.mobile-menu-button {
  .hamburger-box {
    .line {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 0.125rem;
      transform-origin: center;
      transition: 0.4s;
      &--1 {
        top: 0;
      }

      &--2 {
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }

      &--3 {
        bottom: 0;
      }
    }
  }

  &--is-active {
    .hamburger-box {
      .line--1 {
        width: 100%;
        top: 50%;
        transform: translate3d(0, -50%, 0) rotate(45deg) translateZ(0);
      }

      .line--2 {
        opacity: 0;
      }

      .line--3 {
        width: 100%;
        bottom: 50%;
        transform: translate3d(0, 50%, 0) rotate(-45deg) translateZ(0);
      }
    }
  }

  &--gray {
    .hamburger-box {
      .line {
        background: #f8f6f4;
      }
    }
  }

  &--black {
    .hamburger-box {
      .line {
        background: #111010;
      }
    }
  }
}
