{%- comment -%}
Snippet: Header Logo

Description: 
  Logo that appears in the header, and links to the home page.

Usage:
  {%- render 'header-logo', url: '/' -%}
{%- endcomment -%}

<a
  href='{{ url | default: routes.root_url }}'>
  <div
    role="button"
    aria-label="{{ 'general.go_to_home' | t }}"
    class='logo-nav relative'
    @click="closeMenu()">
    
    {% comment %} Short Logo (philos) {% endcomment %}
    <span 
      class="logo-nav--mobile inline-block absolute top-1/2 left-1/2 -translate-x-1/2 transition-all duration-500"
      :class="{
        '-translate-y-1/2': !$store.app.isLogoAnimated || !$store.app.logoFull,
        'lg:opacity-0 lg:translate-y-1': $store.app.isLogoAnimated && $store.app.logoFull,
      }">
      {%- render 'icon-logo-philos' -%}
    </span>

    {% comment %} Full Logo (philos running) {% endcomment %}
		<div 
      class="logo-nav--wrapper relative hidden pointer-events-none text-white"
      :class="{
        'lg:block': $store.app.isLogoAnimated,
      }">
      <span
        class="inline-block transition-all duration-500"
        :class="{
          'opacity-0 -translate-y-1': !$store.app.logoFull
        }">
			  {%- render 'icon-logo-philos-running' -%}
      </span>
		</div>
  </div>
</a>
