{%- comment -%}
Snippet: Mobile Menu Button
Description: This snippet is used to create a button that toggles the mobile menu.

Accepts:
- title: The text that will be displayed on the button.

Usage:
{% render 'header-mobile-menu-button' %}
{%- endcomment -%}

<div
  :class="{
    'mobile-menu-button--is-active': menuOpen,
    'mobile-menu-button--non-active': !menuOpen
  }"
  class='mobile-menu-button'>
	<button
    x-data
    type="button"
    aria-label="{{ 'general.mobile_menu' | t }}"
    :class="{
      'mobile-menu-button--gray': menuOpen,
      'mobile-menu-button--black': !menuOpen
    }"
    class="hamburger inline-block xl:hidden min-w-0 border-0 m-0 pr-0 focus:outline-none overflow-visible"
    @click.prevent='toggleMenu("mobile")'>
    <span
      class="hamburger-box w-[2rem] h-[1rem] relative block cursor-pointer focus:outline-none">
      <span class="line line--1"></span>
      <span class="line line--2"></span>
      <span class="line line--3"></span>
    </span>
  </button>
</div>
