
<div class="size-guide-measurement-disclaimer pt-6 pb-10">
  <template x-if="$store.sizeGuide.measurementDisclaimer.title">
    <h3
      x-html='$store.sizeGuide.measurementDisclaimer.title'
      class="pb-3 text-24 font-normal">
      {{ title }}
    </h3>
  </template>

  <template x-if="$store.sizeGuide.measurementDisclaimer.text">
    <div
      x-html='$store.sizeGuide.measurementDisclaimer.text'
      class="content text-16">
      {{ text }}
    </div>
  </template>
</div>
