.menu-card {
	img {
		transition: transform 0.4s;
	}
	&:hover {
		.image_wrapper {
			img {
				transform: scale(1.05) translateZ(0);
			}
		}
		.link {
			&--line {
				@media only screen and (min-width: 1024px) {
					background-size: 0% 1px;
				}
			}
		}
	}
}
