{%- comment -%}
Snippet: Product details
Description: This snippet renders the product details section on the product page.
{%- endcomment -%}

<div x-data="productDetails()" class="product-details">
  {% comment %}
    @see (metafield types): https://shopify.dev/docs/api/liquid/objects/metafield
  {% endcomment %}
  {%- assign custom_metafields = product.metafields.custom -%}

  {% for metafield in custom_metafields %}
    {%- assign key = metafield[0] -%}
    {%- assign type = product.metafields.custom[key].type -%}

    {%- if type == 'rich_text_field' or type == 'single_line_text_field' or type == 'multi_line_text_field' -%}

      {%- assign metafield_title = key | replace: '_', ' ' | capitalize -%}

      {%- case type -%}
        {%- when 'rich_text_field' -%}
          {%- assign metafield_content = product.metafields.custom[key] | metafield_tag -%}

        {%- when 'single_line_text_field' -%}
          {%- assign metafield_content = product.metafields.custom[key] |  metafield_text -%}

        {%- when 'multi_line_text_field' -%}
          {%- assign metafield_content = product.metafields.custom[key] |  metafield_tag -%}

        {%- else -%}
          {%- assign metafield_content = '' -%}
      {%- endcase -%}

      {%- if metafield_content != blank -%}
        {% render 'accordion',
          title: metafield_title,
          content: metafield_content,
          accordion_wrapper_class: 'border-b border-gray text-black',
          accordion_class: "flex items-center justify-between py-4 cursor-pointer",
          title_class: "text-20 lg:text-24 capitalize",
          content_class: "content pt-4 pb-10 text-16 lg:pr-40",
          id: forloop.index
        %}
      {%- endif -%}
    {%- endif -%}

  {% endfor %}

</div>
